<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ikaros.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  
  <connectionStrings>
    <add name="cnx" connectionString="Data Source=.;Initial Catalog=DBSystem;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- ############################## -->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Ikaro.Service" />
    <namespace name="Ikaro.Service" />

    <container>
      <!-- Repository  -->   	  
	  <register type="Ikaro.Core.Data.IDbContext, Ikaro.Core" mapTo="Ikaro.Data.DBSystemContext, Ikaro.Data">
        <constructor>
          <param name="nameOrConnectionString" value="cnx" />
        </constructor>
      </register>
      
      <register type="Ikaro.Core.Data.IUnitOfWork, Ikaro.Core" mapTo="Ikaro.Data.UnitOfWork, Ikaro.Data" />
	  
      <!-- Service -->
      <register type="IProductoService" mapTo="ProductoService" />
    </container>
  </unity>  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <userSettings>
    <Ikaros.Desktop.Properties.Settings>
      <setting name="Left" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>768</value>
      </setting>
      <setting name="Title" serializeAs="String">
        <value>Centro Comercial Sagitario</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="WindowStyle" serializeAs="String">
        <value>SingleBorderWindow</value>
      </setting>
    </Ikaros.Desktop.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>